<div class="container mt-4">
    <div>
        <h4>Aktualności</h4>
        <div *ngIf="(postList$ | async) as postList">
            <ul *ngIf="(dataPager$ | async) as pager" class="list-group">
                <li class="list-group-item" *ngFor="
            let post of postList | paginate : {
                    itemsPerPage: pager.pageSize,
                    currentPage: pager.pageIndex,
                    totalItems: pager.totalRecords
                  };
            let i = index
          ">
                    <div (click)="showDetail(post.id!)">{{ post.title }}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <pagination-controls class="mt-4" previousLabel="Poprzednia" nextLabel="Następna" [responsive]="true"
            (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>